.augPanel{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.augPanel .panelImage{
    flex:1;
}
.panelImage img{
    width:100%;
}
.augPanel .panelContent{
    flex:1;
    margin:10px;
}