.appFooter{
    min-width:100%;
    background-color: #000;
    display:flex;
    align-content:center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding:0px;
    margin:0px;
}
.footerPanels{
    display:flex;
    align-content:center;
    flex-flow: column;
    justify-content: flex-start;
    flex-direction: row;
    color:#B6C648;
    font-size:0.8em;
    padding:0px;
    margin:0px;
    width:800px;

}
.footerPanels ul{
    flex:1;
    flex-direction: column;
    list-style: none;
    padding:0px;
    margin:0px;
    text-align:center;
}
.footerPanels li{
    padding:0px;
    margin:0px;
}
.footerPanels p{
    margin-right:5px;
}

.appFooter .base{
    width:100%;
    height:1.2em;
    background-color:#2C4251;
    font-size:0.6em;
    overflow:hidden;    
}
.appFooter .baseContent{
    display:inline-flex;
    width: 200px;
    color:#C1C1C1;
}