.appFooter{
    min-width:100%;
    background-color: #000;
    display:flex;
    align-content:center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding:0px;
    margin:0px;
}
.footerPanels{
    display:flex;
    align-content:center;
    flex-flow: column;
    justify-content: flex-start;
    flex-direction: row;
    font-size:0.8em;
    padding:0px;
    margin:0px;
    width:800px;

}
.footerPanels ul{
    flex:1;
    flex-direction: column;
    list-style: none;
    padding:0px;
    margin:0px;
    text-align:center;
}
.footerPanels li{
    padding:0px;
    margin:0px;

}
.footerPanels p{
    margin-right:5px;
}
.footerPanels a{
    text-decoration:none;
    color:#B6C648;
    text-transform: lowercase;
}
