html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width:100%;
  background-color:black;
  color:white;
  line-height:1.2em;
  height:100%;
}

#root{
  width:100%;
  min-height:100%;
  display: flex;
  flex-direction: column;
  align-content:space-around;
  
}
.appHeader{
  background-color:#000;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top:0px;
  padding-bottom:0.5px;
  margin-bottom:10px;

}
.appHeader h1,.appHeader h2{
  line-height: 0.6em;
  display:block;
  margin:0px;
  padding:0px;
  font-size:1.2em;  
  overflow: hidden;
}
.appHeader h1{
  color:rgba(220,200,72,0.4);
  margin-left:10px;

  flex:1;
  align-content: flex-start;
}
.appHeader h1 a{
  text-decoration:none;  
  color:rgba(220,200,72,0.4);
}
.appHeader h2{
  color:#D16666;
  color:rgba(44,66,81,0.7);
  flex:1;
  align-content: flex-end;
  text-align:right;
  margin-right:10px;
}
.homeText{
  display:flex;
  flex-direction: column;
  flex:1;
  background-color:rgba(0,0,0,0.5);

}
.homeText .homeCopy{
  padding:10px;
  margin-top:5px;  
  color:white;
  flex:1;
}
.homeFooter a{
  color:white;
  text-decoration:none;
  font-size:0.8em;
  float:right;
  margin-right:10px;
}
.homeFooter{
  flex:1;  
  align-items:flex-end;
  background-color:rgba(220,200,72,0.3);
  align-content: center;
  min-width:100%;
}

.siteContent{
  padding-bottom:10px;
  display:flex;
  flex:1;
}