.intro{
    width:800px;
    align-content: center;
    display:flex;
    flex-direction: rows;
    margin-top:5px;
}
.introPanel{
   
    border-radius: 10px;
    background-color:#000;
    color:#FFF;
    margin-right:5px;
    padding:0.5px;
}
.introPanel img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:245px;
}
.introPanel .introContent{
    padding:0px;
}
.introContent h1{
    margin-top:0px;
    padding-left:5px;
    text-align:center;
    font-size:1.2em;
    background-color:rgba(98,109,20,0.5);
}
.introContent p{
    font-size:1.0em;
    padding:0px 10px 0px 10px;
}

