<system.webServer>
<rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
</rewrite>
<staticContent>
    <remove fileExtension=".swf"/>
    <mimeMap fileExtension=".swf" mimeType="application/x-Shockwave-Flash" />
    <remove fileExtension=".sid"/>
    <mimeMap fileExtension=".sid" mimeType="application/x-phaser-sid" />
    <remove fileExtension=".dae"/>
    <mimeMap fileExtension=".dae" mimeType="application/x-virtualreality" />
</staticContent>      
</system.webServer>